@using Lucky.AssetManager
@using Lucky.AssetManager.Web
@{
    ViewBag.Title = "About Us";
}
@{
    Assets.MasterCss("~/Content/master.css").Add();
    Assets.Css("~/Content/about.css").Add();
    Assets.Javascript("~/Scripts/about-page.js").Add();
}

<h2>About</h2>
<p>
     Put content here.
</p>
